

<script type="text/javascript">
  // const months = [
  //   "January",
  //   "February",
  //   "March",
  //   "April",
  //   "May",
  //   "June",
  //   "July",
  //   "August",
  //   "September",
  //   "October",
  //   "November",
  //   "December"
  // ];

  const months = [
    "Jan",
    "Feb",
    "Mar",
    "Apr",
    "May",
    "Jun",
    "Jul",
    "Aug",
    "Sep",
    "Oct",
    "Nov",
    "Dec"
  ];
</script>

<div class="row">
  <div class="col col-md-8 col-12">
    <div class="main-title">coronalytics <i class="fa fa-pie-chart"></i></div>

    <h1><b>SARS-CoV-2</b> SRAG Data Analysis</h1>
    <p class="lead">
      A basic quantitative analysis was made of the Brazilian Health Ministry raw <code>SRAG</code>* files
      with hopes of gaining insight into how the vaccination program is doing overall.
    </p>

    <p class="lead">
      All the original files are available at <a href="https://opendatasus.saude.gov.br">https://opendatasus.saude.gov.br</a>
    </p>

    <p class="foot-lead">
      * Only <b>SARS-CoV-2</b> cases (<span class="monospaced">CLASSI_FIN=5</span>) were analysed from the <code>SRAG</code> files.
      Cases of Influenza viruses, Adenovirus, Rinovirus, Parainfluenza and others were <em>discarted</em>.
    </p>

    <br/>
    <br/>
  </div>
</div>

<div class="row">
  <% [2021, 2022, 2023].each do |year| %>
  <div class="col col-md-6 col-12">
    <div class="year">
      <h2 class="title">Year <%= year %></h2>

      <% srag = get_srag_from(year) %>
      <% deaths = srag.report[:deaths] %>
      <% hospitalizations = srag.report[:hospitalizations] %>
      <% icus = srag.report[:icus] %>
      <% vaccination = srag.report[:vaccination] %>
      <% summary = srag.report[:summary]  %>

      <p>
        Data from file <code><%= srag.file_name %></code> published on <b><%= srag.release_date.to_formatted_s(:long) %></b>
      </p>

      <div class="section">
        <h5 class="title">Deaths Data (Month by Month) <i><%= year %></i></h5>
        <table class="table table-sm">
          <thead class="table-light">
            <tr>
              <th>Month</th>
              <th>Total Deaths</th>
              <th>Vaccinated</th>
              <th>Unvaccinated</th>
              <th class="fade">Undef. Vaccination</th>
            </tr>
          </thead>
          <tbody>
            <% deaths.each do |record| %>
              <tr class="<%= 'fade' unless srag.valid_month? record[:month]%>">
                <td><%= month_name(record[:month]) %></td>
                <td><%= record[:total] %></td>
                <td><%= record[:vaccinated] %> (<%= record[:vaccinated_percentage] %>%)</td>
                <td><%= record[:unvaccinated] %> (<%= record[:unvaccinated_percentage] %>%)</td>
                <td class="fade"><%= record[:undef] %> (<%= record[:undef_percentage] %>%)</td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>

      <div class="section">
        <h5 class="title">SARS-CoV-2 Deaths (Month by Month) <i><%= year %></i></h5>
        <div id="deaths-<%= year %>" class="graph-canvas"></div>
        <script type="text/javascript">
          new Morris.Line({
           element: 'deaths-<%= year %>',
           xkey: 'month',
           ykeys: ['total' ],
           labels: ['Total Deaths' ],
           xLabels: 'month',
           data: [
             <% deaths.each do |record| %>
              <% next unless srag.valid_month? record[:month] %>
              { month: '<%= year %>-<%= record[:month] %>', total: <%= record[:total] %> },
             <% end %>
           ],
           xLabelFormat: function(x) {
             return months[x.getMonth()]
           }
         });
        </script>
      </div>

      <div class="section">
        <h5 class="title">Vaccinated Population (Month by Month) <i><%= year %></i></h5>
        <p>Source <a href="http://ourworldindata.org/coronavirus">http://ourworldindata.org/coronavirus</a></p>

        <table class="table table-sm">
          <thead class="table-light">
            <tr>
              <th>Month</th>
              <th>One Dose</th>
              <th>Two Shots</th>
            </tr>
          </thead>
          <tbody>
            <% vaccination.each do |record| %>
              <tr>
                <td><%= month_name(record[:month]) %></td>
                <td><%= record[:one_dose] %>%</td>
                <td><%= record[:two_doses] %>%</td>
              </tr>
            <% end %>
          </tbody>
        </table>

        <div id="vaccination-<%= year %>" class="graph-canvas"></div>
        <script type="text/javascript">
          new Morris.Line({
           element: 'vaccination-<%= year %>',
           xkey: 'year',
           ykeys: ['one_dose', 'two_doses'],
           labels: ['% one dose', '% two shots'],
           xLabels: 'month',
           data: [
             <% vaccination.each do |record| %>
              <% next unless srag.valid_month? record[:month] %>
              { year: '<%= year %>-<%= record[:month] %>', one_dose: <%= record[:one_dose] %>, two_doses: <%= record[:two_doses] %> },
             <% end %>
           ],
           xLabelFormat: function(x) {
             return months[x.getMonth()]
           },
           yLabelFormat: function (y) { return y.toString() + '%' },
         });
        </script>
      </div>

      <div class="section">
        <h5 class="title">Deaths (Vaccinated vs Unvaccinated) <i><%= year %></i></h5>
        <div id="deaths-vaccinated-<%= year %>" class="graph-canvas"></div>
        <script type="text/javascript">
          new Morris.Line({
           element: 'deaths-vaccinated-<%= year %>',
           xkey: 'month',
           ykeys: ['vaccinated', 'unvaccinated', ],
           labels: ["Vaccinated", "Unvaccinated", ],
           xLabels: 'month',
           data: [
             <% deaths.each do |record| %>
              <% next unless srag.valid_month? record[:month] %>
              { month: '<%= year %>-<%= record[:month] %>', vaccinated: <%= record[:vaccinated] %>, unvaccinated: <%= record[:unvaccinated] %>, },
             <% end %>
           ],
           xLabelFormat: function(x) {
             return months[x.getMonth()]
           }
         });
        </script>
      </div>

      <div class="section">
        <h5 class="title">Percentage of Deaths (Vaccinated vs Unvaccinated) <i><%= year %></i></h5>
        <div id="deaths-percentage-vaccinated-<%= year %>" class="graph-canvas"></div>
        <script type="text/javascript">
          new Morris.Line({
           element: 'deaths-percentage-vaccinated-<%= year %>',
           xkey: 'month',
           ykeys: ['vaccinated', 'unvaccinated', ],
           labels: ["Vaccinated", "Unvaccinated", ],
           xLabels: 'month',
           data: [
             <% deaths.each do |record| %>
              <% next unless srag.valid_month? record[:month] %>
              { month: '<%= year %>-<%= record[:month] %>', vaccinated: <%= record[:vaccinated_percentage] %>, unvaccinated: <%= record[:unvaccinated_percentage] %>, },
             <% end %>
           ],
           xLabelFormat: function(x) {
             return months[x.getMonth()]
           },
           yLabelFormat: function (y) { return y.toString() + '%' },
         });
        </script>
      </div>

      <div class="section">
        <h5 class="title">Hospitalization (Month by Month) <i><%= year %></i></h5>
        <table class="table table-sm">
          <thead class="table-light">
            <tr>
              <th>Month</th>
              <th><b>Hospitalization</b></th>
              <th>Vaccinated</th>
              <th>Unvaccinated</th>
              <th class="fade">Undef. Vaccination</th>
            </tr>
          </thead>
          <tbody>
            <% hospitalizations.each do |record| %>
              <tr class="<%= 'fade' unless srag.valid_month? record[:month]%>">
                <td><%= month_name(record[:month]) %></td>
                <td><b><%= record[:total] %></b></td>
                <td><%= record[:vaccinated] %> <small>(<%= record[:vaccinated_percentage] %>%)</small></td>
                <td><%= record[:unvaccinated] %> <small>(<%= record[:unvaccinated_percentage] %>%)</small></td>
                <td class="fade"><%= record[:undef] %> <small>(<%= record[:undef_percentage] %>%)</small></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>

      <div class="section">
        <h5 class="title">Percentage of Hospitalization (Vaccinated vs Unvaccinated) <i><%= year %></i></h5>
        <div id="hospitalizations-<%= year %>" class="graph-canvas"></div>
        <script type="text/javascript">
          new Morris.Line({
           element: 'hospitalizations-<%= year %>',
           xkey: 'month',
           ykeys: ['vaccinated', 'unvaccinated', ],
           labels: ["Vaccinated", "Unvaccinated", ],
           xLabels: 'month',
           data: [
             <% deaths.each do |record| %>
              <% next unless srag.valid_month? record[:month] %>
              { month: '<%= year %>-<%= record[:month] %>', vaccinated: <%= record[:vaccinated_percentage] %>, unvaccinated: <%= record[:unvaccinated_percentage] %>, },
             <% end %>
           ],
           xLabelFormat: function(x) {
             return months[x.getMonth()]
           },
           yLabelFormat: function (y) { return y.toString() + '%' },
         });
        </script>
      </div>

      <div class="section">
        <h5 class="title">ICUs (Month by Month) <i><%= year %></i></h5>
        <table class="table table-sm">
          <thead class="table-light">
            <tr>
              <th>Month</th>
              <th><b>ICU</b></th>
              <th>Vaccinated</th>
              <th>Unvaccinated</th>
              <th class="fade">Undef. Vaccination</th>
            </tr>
          </thead>
          <tbody>
            <% icus.each do |record| %>
              <tr class="<%= 'fade' unless srag.valid_month? record[:month]%>">
                <td><%= month_name(record[:month]) %></td>
                <td><b><%= record[:total] %></b></td>
                <td><%= record[:vaccinated] %> <small>(<%= record[:vaccinated_percentage] %>%)</small></td>
                <td><%= record[:unvaccinated] %> <small>(<%= record[:unvaccinated_percentage] %>%)</small></td>
                <td class="fade"><%= record[:undef] %> <small>(<%= record[:undef_percentage] %>%)</small></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>

      <div class="section">
        <h5 class="title">Percentage of ICUs (Vaccinated vs Unvaccinated) <i><%= year %></i></h5>
        <div id="icus-<%= year %>" class="graph-canvas"></div>
        <script type="text/javascript">
          new Morris.Line({
           element: 'icus-<%= year %>',
           xkey: 'month',
           ykeys: ['vaccinated', 'unvaccinated', ],
           labels: ["Vaccinated", "Unvaccinated", ],
           xLabels: 'month',
           data: [
             <% icus.each do |record| %>
              <% next unless srag.valid_month? record[:month] %>
              { month: '<%= year %>-<%= record[:month] %>', vaccinated: <%= record[:vaccinated_percentage] %>, unvaccinated: <%= record[:unvaccinated_percentage] %>, },
             <% end %>
           ],
           xLabelFormat: function(x) {
             return months[x.getMonth()]
           },
           yLabelFormat: function (y) { return y.toString() + '%' },
         });
        </script>
      </div>

      <div class="section">
        <h5 class="title">Relationship with Vaccination (Deaths, Hospitalization, ICUs) <i><%= year %></i></h5>
        <div id="correlation-<%= year %>" class="graph-canvas"></div>
        <script type="text/javascript">
          new Morris.Line({
           element: 'correlation-<%= year %>',
           xkey: 'month',
           ykeys: [ 'vaccination', 'deaths', 'hospitalizations', 'icus', ],
           labels: ["Vaccination", "Deaths", "Hospitalizations", "ICUs", ],
           xLabels: 'month',
           data: [
             <% deaths.each_index do |i| %>
              <% next unless srag.valid_month? i + 1 %>
              { month: '<%= year %>-<%= i + 1 %>',
                vaccination: <%= vaccination[i][:one_dose] %>,
                deaths: <%= deaths[i][:vaccinated_percentage] %>,
                hospitalizations: <%= hospitalizations[i][:vaccinated_percentage] %>,
                icus: <%= icus[i][:vaccinated_percentage] %>, },
             <% end %>
           ],
           xLabelFormat: function(x) {
             return months[x.getMonth()]
           },
           yLabelFormat: function (y) { return y.toString() + '%' },
           lineColors: [ '#0b62a4', '#dc3545', '#ffc107', '#ff9002' ],
           lineWidth: 2,
         });
        </script>
      </div>

      <div class="section">
        <h5 class="title">Relationship with Full Vaccination (Two-Shots-Deaths, Hospitalization and ICUs) <i><%= year %></i></h5>
        <div id="correlation-full-<%= year %>" class="graph-canvas"></div>
        <script type="text/javascript">
          new Morris.Line({
           element: 'correlation-full-<%= year %>',
           xkey: 'month',
           ykeys: [ 'vaccination', 'deaths', 'hospitalizations', 'icus', ],
           labels: ["Full Vaccination", "Deaths", "Hospitalizations", "ICUs", ],
           xLabels: 'month',
           data: [
             <% deaths.each_index do |i| %>
              <% next unless srag.valid_month? i + 1 %>
              { month: '<%= year %>-<%= i + 1 %>',
                vaccination: <%= vaccination[i][:two_doses] %>,
                deaths: <%= deaths[i][:fully_vaccinated_percentage] %>,
                hospitalizations: <%= hospitalizations[i][:fully_vaccinated_percentage] %>,
                icus: <%= icus[i][:fully_vaccinated_percentage] %>, },
             <% end %>
           ],
           xLabelFormat: function(x) {
             return months[x.getMonth()]
           },
           yLabelFormat: function (y) { return y.toString() + '%' },
           lineColors: [ '#0b62a4', '#dc3545', '#ffc107', '#ff9002' ],
           lineWidth: 2,
         });
        </script>
      </div>

      <div class="section">
        <h5 class="title">Deaths Summary (Whole Year) <i><%= year %></i></h5>
        <div id="deaths-summary-<%= year %>" class="graph-canvas"></div>
        <script type="text/javascript">
          Morris.Donut({
           element: 'deaths-summary-<%= year %>',
           data: [
             { label: 'Vaccinated',   value: <%= summary[:deaths][:vaccinated_percentage] %> },
             { label: 'Unvaccinated', value: <%= summary[:deaths][:unvaccinated_percentage] %> },
           ],
           formatter: function (y, data) { return y + '%' },
         });
        </script>
        <br/>
        <table class="table table-sm">
          <thead class="table-light">
            <tr>
              <th>Status</th>
              <th>Number</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Vaccinated</td>   <td><%= summary[:deaths][:vaccinated] %> (<%= summary[:deaths][:vaccinated_percentage] %>%)</td>
            </tr>
            <tr>
              <td>Unvaccinated</td> <td><%= summary[:deaths][:unvaccinated] %> (<%= summary[:deaths][:unvaccinated_percentage] %>%)</td>
            </tr>
            <tr>
              <td>Two Shots</td>    <td><%= summary[:deaths][:fully_vaccinated] %> (<%= summary[:deaths][:fully_vaccinated_percentage] %>%)</td>
            </tr>
            <tr class="fade">
              <td>Undefined</td>    <td><%= summary[:deaths][:undef] %> (<%= summary[:deaths][:undef_percentage] %>%)</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="section">
        <h5 class="title">Hospitalizations Summary (Whole Year) <i><%= year %></i></h5>
        <div id="hospitalizations-summary-<%= year %>" class="graph-canvas"></div>
        <script type="text/javascript">
          Morris.Donut({
           element: 'hospitalizations-summary-<%= year %>',
           data: [
             { label: 'Vaccinated',   value: <%= summary[:hospitalizations][:vaccinated_percentage] %> },
             { label: 'Unvaccinated', value: <%= summary[:hospitalizations][:unvaccinated_percentage] %> },
           ],
           formatter: function (y, data) { return y + '%' },
         });
        </script>
        <br/>
        <table class="table table-sm">
          <thead class="table-light">
            <tr>
              <th>Status</th>
              <th>Number</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Vaccinated</td>   <td><%= summary[:hospitalizations][:vaccinated] %> (<%= summary[:hospitalizations][:vaccinated_percentage] %>%)</td>
            </tr>
            <tr>
              <td>Unvaccinated</td> <td><%= summary[:hospitalizations][:unvaccinated] %> (<%= summary[:hospitalizations][:unvaccinated_percentage] %>%)</td>
            </tr>
            <tr>
              <td>Two Shots</td>    <td><%= summary[:hospitalizations][:fully_vaccinated] %> (<%= summary[:hospitalizations][:fully_vaccinated_percentage] %>%)</td>
            </tr>
            <tr class="fade">
              <td>Undefined</td>    <td><%= summary[:hospitalizations][:undef] %> (<%= summary[:hospitalizations][:undef_percentage] %>%)</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="section">
        <h5 class="title">ICUs Summary (Whole Year) <i><%= year %></i></h5>
        <div id="icus-summary-<%= year %>" class="graph-canvas"></div>
        <script type="text/javascript">
          Morris.Donut({
           element: 'icus-summary-<%= year %>',
           resize: true,
           data: [
             { label: 'Vaccinated',   value: <%= summary[:icus][:vaccinated_percentage] %> },
             { label: 'Unvaccinated', value: <%= summary[:icus][:unvaccinated_percentage] %> },
           ],
           formatter: function (y, data) { return y + '%' },
         });
        </script>
        <br/>
        <table class="table table-sm">
          <thead class="table-light">
            <tr>
              <th>Status</th>
              <th>Number</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Vaccinated</td>   <td><%= summary[:icus][:vaccinated] %> (<%= summary[:icus][:vaccinated_percentage] %>%)</td>
            </tr>
            <tr>
              <td>Unvaccinated</td> <td><%= summary[:icus][:unvaccinated] %> (<%= summary[:icus][:unvaccinated_percentage] %>%)</td>
            </tr>
            <tr>
              <td>Two Shots</td>    <td><%= summary[:icus][:fully_vaccinated] %> (<%= summary[:icus][:fully_vaccinated_percentage] %>%)</td>
            </tr>
            <tr class="fade">
              <td>Undefined</td>    <td><%= summary[:icus][:undef] %> (<%= summary[:icus][:undef_percentage] %>%)</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="section">
        <h5 class="title">Vaccinated Deaths (Manufacturers) <i><%= year %></i></h5>
        <div id="deaths-manufacturers-<%= year %>" class="graph-canvas"></div>
        <script type="text/javascript">
          Morris.Donut({
           element: 'deaths-manufacturers-<%= year %>',
           data: [
             { label: 'Pfizer',   value: <%= summary[:deaths][:pfizer_percentage] %> },
             { label: 'Coronavac', value: <%= summary[:deaths][:coronavac_percentage] %> },
             { label: 'Astrazeneca', value: <%= summary[:deaths][:astrazeneca_percentage] %> },
             { label: 'Janssen', value: <%= summary[:deaths][:janssen_percentage] %> },
             { label: 'Undefined', value: <%= summary[:deaths][:other_percentage] %> },
           ],
           colors: [ '#0b62a4', '#ff9002', '#65647C', '#9C254D', '#CCC' ],
           formatter: function (y, data) { return y + '%' },
         });
        </script>
        <br/>
        <table class="table table-sm">
          <thead class="table-light">
            <tr>
              <th>Manufacturers</th>
              <th>Numbers</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Pfizer</td>   <td><%= summary[:deaths][:pfizer] %> (<%= summary[:deaths][:pfizer_percentage] %>%)</td>
            </tr>
            <tr>
              <td>Coronavac/Butantan</td> <td><%= summary[:deaths][:coronavac] %> (<%= summary[:deaths][:coronavac_percentage] %>%)</td>
            </tr>
            <tr>
              <td>Astrazeneca/FioCruz</td> <td><%= summary[:deaths][:astrazeneca] %> (<%= summary[:deaths][:astrazeneca_percentage] %>%)</td>
            </tr>
            <tr>
              <td>Janssen (Jhonson&J)</td> <td><%= summary[:deaths][:janssen] %> (<%= summary[:deaths][:janssen_percentage] %>%)</td>
            </tr>
            <tr class="fade">
              <td>Others (or Undefined)</td>    <td><%= summary[:deaths][:other] %> (<%= summary[:deaths][:other_percentage] %>%)</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="section">
        <h5 class="title">Hospitalization of Vaccinated (Manufacturers) <i><%= year %></i></h5>
        <div id="hospitalizations-manufacturers-<%= year %>" class="graph-canvas"></div>
        <script type="text/javascript">
          Morris.Donut({
           element: 'hospitalizations-manufacturers-<%= year %>',
           data: [
             { label: 'Pfizer',   value: <%= summary[:hospitalizations][:pfizer_percentage] %> },
             { label: 'Coronavac', value: <%= summary[:hospitalizations][:coronavac_percentage] %> },
             { label: 'Astrazeneca', value: <%= summary[:hospitalizations][:astrazeneca_percentage] %> },
             { label: 'Janssen', value: <%= summary[:hospitalizations][:janssen_percentage] %> },
             { label: 'Undefined', value: <%= summary[:hospitalizations][:other_percentage] %> },
           ],
           colors: [ '#0b62a4', '#ff9002', '#65647C', '#9C254D', '#CCC' ],
           formatter: function (y, data) { return y + '%' },
         });
        </script>
        <br/>
        <table class="table table-sm">
          <thead class="table-light">
            <tr>
              <th>Manufacturers</th>
              <th>Numbers</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Pfizer</td>   <td><%= summary[:hospitalizations][:pfizer] %> (<%= summary[:hospitalizations][:pfizer_percentage] %>%)</td>
            </tr>
            <tr>
              <td>Coronavac/Butantan</td> <td><%= summary[:hospitalizations][:coronavac] %> (<%= summary[:hospitalizations][:coronavac_percentage] %>%)</td>
            </tr>
            <tr>
              <td>Astrazeneca/FioCruz</td> <td><%= summary[:hospitalizations][:astrazeneca] %> (<%= summary[:hospitalizations][:astrazeneca_percentage] %>%)</td>
            </tr>
            <tr>
              <td>Janssen (Jhonson&J)</td> <td><%= summary[:hospitalizations][:janssen] %> (<%= summary[:hospitalizations][:janssen_percentage] %>%)</td>
            </tr>
            <tr class="fade">
              <td>Others (or Undefined)</td>    <td><%= summary[:hospitalizations][:other] %> (<%= summary[:hospitalizations][:other_percentage] %>%)</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="section">
        <h5 class="title">Vaccinated ICUs (Manufacturers) <i><%= year %></i></h5>
        <div id="icus-manufacturers-<%= year %>" class="graph-canvas"></div>
        <script type="text/javascript">
          Morris.Donut({
           element: 'icus-manufacturers-<%= year %>',
           data: [
             { label: 'Pfizer',   value: <%= summary[:icus][:pfizer_percentage] %> },
             { label: 'Coronavac', value: <%= summary[:icus][:coronavac_percentage] %> },
             { label: 'Astrazeneca', value: <%= summary[:icus][:astrazeneca_percentage] %> },
             { label: 'Janssen', value: <%= summary[:icus][:janssen_percentage] %> },
             { label: 'Undefined', value: <%= summary[:icus][:other_percentage] %> },
           ],
           colors: [ '#0b62a4', '#ff9002', '#65647C', '#9C254D', '#CCC' ],
           formatter: function (y, data) { return y + '%' },
         });
        </script>
        <br/>
        <table class="table table-sm">
          <thead class="table-light">
            <tr>
              <th>Manufacturers</th>
              <th>Numbers</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Pfizer</td>   <td><%= summary[:icus][:pfizer] %> (<%= summary[:icus][:pfizer_percentage] %>%)</td>
            </tr>
            <tr>
              <td>Coronavac/Butantan</td> <td><%= summary[:icus][:coronavac] %> (<%= summary[:icus][:coronavac_percentage] %>%)</td>
            </tr>
            <tr>
              <td>Astrazeneca/FioCruz</td> <td><%= summary[:icus][:astrazeneca] %> (<%= summary[:icus][:astrazeneca_percentage] %>%)</td>
            </tr>
            <tr>
              <td>Janssen (Jhonson&J)</td> <td><%= summary[:icus][:janssen] %> (<%= summary[:icus][:janssen_percentage] %>%)</td>
            </tr>
            <tr class="fade">
              <td>Others (or Undefined)</td>    <td><%= summary[:icus][:other] %> (<%= summary[:icus][:other_percentage] %>%)</td>
            </tr>
          </tbody>
        </table>
      </div>

    </div> <!-- END OF YEAR BLOCK !-->
  </div> <!-- END OF YEAR COL !-->
  <% end %>
</div>

<br/>
<br/>
<br/>
