

<script type="text/javascript">
  // const months = [
  //   "January",
  //   "February",
  //   "March",
  //   "April",
  //   "May",
  //   "June",
  //   "July",
  //   "August",
  //   "September",
  //   "October",
  //   "November",
  //   "December"
  // ];

  const months = [
    "Jan",
    "Feb",
    "Mar",
    "Apr",
    "May",
    "Jun",
    "Jul",
    "Aug",
    "Sep",
    "Oct",
    "Nov",
    "Dec"
  ];
</script>

<div class="row">
  <div class="col col-md-8 col-12">
    <div class="main-title">coronalytics <i class="fa fa-pie-chart"></i></div>

    <h1>SRAG Data Analysis</h1>
    <p class="lead">
      A basic quantitative analysis was made of the Brazilian Health Ministry raw <code>SRAG</code> files
      with hopes of gaining insight into how the vaccination program is doing overall.
    </p>

    <p class="lead">
      All the original files are available at <a href="https://opendatasus.saude.gov.br">https://opendatasus.saude.gov.br</a>
    </p>

    <br/>
    <br/>
  </div>
</div>

<div class="row">
  <% [2021, 2022].each do |year| %>
  <div class="col col-md-6 col-12">
    <div class="year">
      <h2 class="title">Year <%= year %></h2>

      <% srag = get_srag_from(year) %>
      <% deaths = srag.report[:deaths] %>
      <% hospitalizations = srag.report[:hospitalizations] %>
      <% icus = srag.report[:icus] %>
      <% vaccination = @report.vaccination(year) %>

      <p>
        Data from the SRAG file <code><%= srag.file_name %></code> published on <b><%= srag.release_date.to_formatted_s(:long) %></b>
      </p>

      <div class="section">
        <h5 class="title">Deaths Data (Month by Month) <i><%= year %></i></h5>
        <table class="table table-sm">
          <thead class="table-light">
            <tr>
              <th>Month</th>
              <th>Total Deaths</th>
              <th>Vaccinated</th>
              <th>Unvaccinated</th>
              <th class="fade">Undef. Vaccination</th>
            </tr>
          </thead>
          <tbody>
            <% deaths.each do |record| %>
              <tr class="<%= 'fade' unless srag.valid_month? record[:month]%>">
                <td><%= month_name(record[:month]) %></td>
                <td><%= record[:total] %></td>
                <td><%= record[:vaccinated] %> (<%= record[:vaccinated_percentage] %>%)</td>
                <td><%= record[:unvaccinated] %> (<%= record[:unvaccinated_percentage] %>%)</td>
                <td class="fade"><%= record[:undef] %> (<%= record[:undef_percentage] %>%)</td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>

      <div class="section">
        <h5 class="title">Deaths (Month by Month) <i><%= year %></i></h5>
        <div id="deaths-<%= year %>" class="graph-canvas"></div>
        <script type="text/javascript">
          new Morris.Line({
           element: 'deaths-<%= year %>',
           xkey: 'month',
           ykeys: ['total' ],
           labels: ['Total Deaths' ],
           xLabels: 'month',
           data: [
             <% deaths.each do |record| %>
              <% next unless srag.valid_month? record[:month] %>
              { month: '<%= year %>-<%= record[:month] %>', total: <%= record[:total] %> },
             <% end %>
           ],
           xLabelFormat: function(x) {
             return months[x.getMonth()]
           }
         });
        </script>
      </div>

      <div class="section">
        <h5 class="title">Vaccinated Population (Month by Month) <i><%= year %></i></h5>
        <p>Source <a href="http://ourworldindata.org/coronavirus">http://ourworldindata.org/coronavirus</a></p>

        <table class="table table-sm">
          <thead class="table-light">
            <tr>
              <th>Month</th>
              <th>One Dose</th>
              <th>Two Shots</th>
            </tr>
          </thead>
          <tbody>
            <% vaccination.each do |record| %>
              <tr>
                <td><%= month_name(record[:month]) %></td>
                <td><%= record[:one_dose] %>%</td>
                <td><%= record[:two_doses] %>%</td>
              </tr>
            <% end %>
          </tbody>
        </table>

        <div id="vaccination-<%= year %>" class="graph-canvas"></div>
        <script type="text/javascript">
          new Morris.Line({
           element: 'vaccination-<%= year %>',
           xkey: 'year',
           ykeys: ['one_dose', 'two_doses'],
           labels: ['% one dose', '% two shots'],
           xLabels: 'month',
           data: [
             <% vaccination.each do |record| %>
              <% next unless srag.valid_month? record[:month] %>
              { year: '<%= year %>-<%= record[:month] %>', one_dose: <%= record[:one_dose] %>, two_doses: <%= record[:two_doses] %> },
             <% end %>
           ],
           xLabelFormat: function(x) {
             return months[x.getMonth()]
           },
           yLabelFormat: function (y) { return y.toString() + '%' },
         });
        </script>
      </div>

      <div class="section">
        <h5 class="title">Deaths (Vaccinated vs Unvaccinated) <i><%= year %></i></h5>
        <div id="deaths-vaccinated-<%= year %>" class="graph-canvas"></div>
        <script type="text/javascript">
          new Morris.Line({
           element: 'deaths-vaccinated-<%= year %>',
           xkey: 'month',
           ykeys: ['vaccinated', 'unvaccinated', ],
           labels: ["Vaccinated", "Unvaccinated", ],
           xLabels: 'month',
           data: [
             <% deaths.each do |record| %>
              <% next unless srag.valid_month? record[:month] %>
              { month: '<%= year %>-<%= record[:month] %>', vaccinated: <%= record[:vaccinated] %>, unvaccinated: <%= record[:unvaccinated] %>, },
             <% end %>
           ],
           xLabelFormat: function(x) {
             return months[x.getMonth()]
           }
         });
        </script>
      </div>

      <div class="section">
        <h5 class="title">Percentage of Deaths (Vaccinated vs Unvaccinated) <i><%= year %></i></h5>
        <div id="deaths-percentage-vaccinated-<%= year %>" class="graph-canvas"></div>
        <script type="text/javascript">
          new Morris.Line({
           element: 'deaths-percentage-vaccinated-<%= year %>',
           xkey: 'month',
           ykeys: ['vaccinated', 'unvaccinated', ],
           labels: ["Vaccinated", "Unvaccinated", ],
           xLabels: 'month',
           data: [
             <% deaths.each do |record| %>
              <% next unless srag.valid_month? record[:month] %>
              { month: '<%= year %>-<%= record[:month] %>', vaccinated: <%= record[:vaccinated_percentage] %>, unvaccinated: <%= record[:unvaccinated_percentage] %>, },
             <% end %>
           ],
           xLabelFormat: function(x) {
             return months[x.getMonth()]
           },
           yLabelFormat: function (y) { return y.toString() + '%' },
         });
        </script>
      </div>

      <div class="section">
        <h5 class="title">Hospitalization (Month by Month) <i><%= year %></i></h5>
        <table class="table table-sm">
          <thead class="table-light">
            <tr>
              <th>Month</th>
              <th><b>Hospitalization</b></th>
              <th>Vaccinated</th>
              <th>Unvaccinated</th>
              <th class="fade">Undef. Vaccination</th>
            </tr>
          </thead>
          <tbody>
            <% hospitalizations.each do |record| %>
              <tr class="<%= 'fade' unless srag.valid_month? record[:month]%>">
                <td><%= month_name(record[:month]) %></td>
                <td><b><%= record[:total] %></b></td>
                <td><%= record[:vaccinated] %> <small>(<%= record[:vaccinated_percentage] %>%)</small></td>
                <td><%= record[:unvaccinated] %> <small>(<%= record[:unvaccinated_percentage] %>%)</small></td>
                <td class="fade"><%= record[:undef] %> <small>(<%= record[:undef_percentage] %>%)</small></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>

      <div class="section">
        <h5 class="title">Percentage of Hospitalization (Vaccinated vs Unvaccinated) <i><%= year %></i></h5>
        <div id="hospitalizations-<%= year %>" class="graph-canvas"></div>
        <script type="text/javascript">
          new Morris.Line({
           element: 'hospitalizations-<%= year %>',
           xkey: 'month',
           ykeys: ['vaccinated', 'unvaccinated', ],
           labels: ["Vaccinated", "Unvaccinated", ],
           xLabels: 'month',
           data: [
             <% deaths.each do |record| %>
              <% next unless srag.valid_month? record[:month] %>
              { month: '<%= year %>-<%= record[:month] %>', vaccinated: <%= record[:vaccinated_percentage] %>, unvaccinated: <%= record[:unvaccinated_percentage] %>, },
             <% end %>
           ],
           xLabelFormat: function(x) {
             return months[x.getMonth()]
           },
           yLabelFormat: function (y) { return y.toString() + '%' },
         });
        </script>
      </div>

      <div class="section">
        <h5 class="title">ICUs (Month by Month) <i><%= year %></i></h5>
        <table class="table table-sm">
          <thead class="table-light">
            <tr>
              <th>Month</th>
              <th><b>ICU</b></th>
              <th>Vaccinated</th>
              <th>Unvaccinated</th>
              <th class="fade">Undef. Vaccination</th>
            </tr>
          </thead>
          <tbody>
            <% icus.each do |record| %>
              <tr class="<%= 'fade' unless srag.valid_month? record[:month]%>">
                <td><%= month_name(record[:month]) %></td>
                <td><b><%= record[:total] %></b></td>
                <td><%= record[:vaccinated] %> <small>(<%= record[:vaccinated_percentage] %>%)</small></td>
                <td><%= record[:unvaccinated] %> <small>(<%= record[:unvaccinated_percentage] %>%)</small></td>
                <td class="fade"><%= record[:undef] %> <small>(<%= record[:undef_percentage] %>%)</small></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>

      <div class="section">
        <h5 class="title">Percentage of ICUs (Vaccinated vs Unvaccinated) <i><%= year %></i></h5>
        <div id="icus-<%= year %>" class="graph-canvas"></div>
        <script type="text/javascript">
          new Morris.Line({
           element: 'icus-<%= year %>',
           xkey: 'month',
           ykeys: ['vaccinated', 'unvaccinated', ],
           labels: ["Vaccinated", "Unvaccinated", ],
           xLabels: 'month',
           data: [
             <% icus.each do |record| %>
              <% next unless srag.valid_month? record[:month] %>
              { month: '<%= year %>-<%= record[:month] %>', vaccinated: <%= record[:vaccinated_percentage] %>, unvaccinated: <%= record[:unvaccinated_percentage] %>, },
             <% end %>
           ],
           xLabelFormat: function(x) {
             return months[x.getMonth()]
           },
           yLabelFormat: function (y) { return y.toString() + '%' },
         });
        </script>
      </div>

      <div class="section">
        <h5 class="title">Correlation with Vaccination (Deaths, Hospitalization, ICUs) <i><%= year %></i></h5>
        <div id="correlation-<%= year %>" class="graph-canvas"></div>
        <script type="text/javascript">
          new Morris.Line({
           element: 'correlation-<%= year %>',
           xkey: 'month',
           ykeys: [ 'vaccination', 'deaths', 'hospitalizations', 'icus', ],
           labels: ["Vaccination", "Deaths", "Hospitalizations", "ICUs", ],
           xLabels: 'month',
           data: [
             <% deaths.each_index do |i| %>
              <% next unless srag.valid_month? i + 1 %>
              { month: '<%= year %>-<%= i + 1 %>',
                vaccination: <%= vaccination[i][:one_dose] %>,
                deaths: <%= deaths[i][:vaccinated_percentage] %>,
                hospitalizations: <%= hospitalizations[i][:vaccinated_percentage] %>,
                icus: <%= icus[i][:vaccinated_percentage] %>, },
             <% end %>
           ],
           xLabelFormat: function(x) {
             return months[x.getMonth()]
           },
           yLabelFormat: function (y) { return y.toString() + '%' },
           lineColors: [ '#0b62a4', '#dc3545', '#ffc107', '#ff9002' ],
           lineWidth: 2,
         });
        </script>
      </div>

    </div> <!-- END OF YEAR BLOCK !-->
  </div> <!-- END OF YEAR COL !-->
  <% end %>
</div>

<br/>
<br/>
<br/>
