
<div class="col col-md-5 col-12">
  <%= form_for(@srag, url: action) do |f| %>

    <% if @srag.errors.any? %>
      <div class="alert alert-danger">
        <p>Validation errors</p>
        <ul>
          <% @srag.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="mb-3">
      <%= f.label :year, class: 'form-label' %>
      <%= f.text_field :year, class: 'form-control' %>
    </div>
    <div class="mb-3">
      <%= f.label :release_date, class: 'form-label' %>
      <%= f.text_field :release_date, class: 'form-control' %>
    </div>
    <div class="mb-3">
      <%= f.label :url, class: 'form-label' %>
      <%= f.text_field :url, class: 'form-control' %>
    </div>

    <%= f.submit class: 'btn btn-primary' %>
  <% end %>
</div>
