<header>
  <!-- Fixed navbar -->
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        coronalytics / <span class="hl">admin</span>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link" href="<%= admin_root_path %>">
              Home
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="<%= admin_users_path %>">
              <%= t 'menu.users' %>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="<%= admin_vaccination_numbers_path %>">
              <%= t 'menu.vaccination_numbers' %>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="<%= admin_srags_path %>">
              <%= t 'menu.srags' %>
            </a>
          </li>
        </ul>

        <div class="d-flex">
          <div class="dropdown">
            <a class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa fa-user"></i> &nbsp;
              <%= current_user.name %>
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#"><%= t 'menu.profile' %></a></li>
              <li><a class="dropdown-item" href="#"><%= t 'menu.change_password' %></a></li>
              <li><hr class="dropdown-divider"></li>
              <li>
                <a class="dropdown-item" href="<%= admin_logout_path %>">
                  <i class="fa fa-power-off"></i> Logout
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
